.jumbotron {
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  background-color: #020c;
}

#projects {
  background-color: #020c;
}

#contact {
  background-color: #020c;
  color: white;
}
section {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
}
